
block variables

doctype html
html(lang="ru")
  head
    title #{title}
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='preload' href='assets/fonts/opensans-regular.woff2' as='font')
    link(rel='preload' href='assets/fonts/opensans-bold.woff2' as='font')
    link(rel="stylesheet" href="assets/css/main.css") 
    link(name="theme-color" content="#ffffff") 
    link(rel="icon" href="assets/img/favicon.svg") 
    link(rel="mask-icon" href="assets/img/mask-icon.svg" color="#6e0096") 
    link(rel="apple-touch-icon" href="assets/img/apple-touch-icon.png")
    link(rel="manifest" href="manifest.json") 
    block head

  body
    block main

    script(src='assets/js/vendors.js')
    script(src='assets/js/main.js')
    block script