.navigation {
  position: fixed;
  top: 0;
  right: -100%;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  transition-duration: 0.5s;
}
.navigation__close {
  position: absolute;
  top: 30px;
  right: 15px;
  width: 30px;
  height: 24px;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition-duration: 0.3s;
  -webkit-tap-highlight-color: transparent;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #000;
  }
  &::before {
    transform: rotate(-45deg);
  }
  &::after {
    transform: rotate(45deg);
  }
  &:hover,
  &:focus {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}
.navigation__content-wrapper {
  padding-top: 15vh;
}
.navigation__list {
  list-style: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.navigation__link {
  font-size: 14px;
  line-height: 2.5;
}
a.navigation__link {
  position: relative;
  transition-duration: 0.1s;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  &::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #1a1a1a;
    transition-duration: 0.5s;
  }
  &:hover,
  &:focus {
    font-weight: 700;
    &::before {
      width: 100%;
    }
  }
  &:active {
    opacity: 0.6;
  }
}

a.navigation__link--eightball:hover,
a.navigation__link--eightball:focus,
span.navigation__link--eightball {
  color: #4f00b6;
}
a.navigation__link--eightball::before {
  background-color: #4f00b6;
}
a.navigation__link--pixel-hunter:hover,
a.navigation__link--pixel-hunter:focus,
span.navigation__link--pixel-hunter {
  color: #719987;
}
a.navigation__link--pixel-hunter::before {
  background-color: #719987;
}
a.navigation__link--toxin:hover,
a.navigation__link--toxin:focus,
span.navigation__link--toxin {
  color: #7764a0;
}
a.navigation__link--toxin::before {
  background-color: #7764a0;
}
a.navigation__link--kekstagram:hover,
a.navigation__link--kekstagram:focus,
span.navigation__link--kekstagram {
  color: #dcbf00;
}
a.navigation__link--kekstagram::before {
  background-color: #dcbf00;
}
a.navigation__link--code-and-magic:hover,
a.navigation__link--code-and-magic:focus,
span.navigation__link--code-and-magic {
  color: #3637c3;
}
a.navigation__link--code-and-magic::before {
  background-color: #3637c3;
}
a.navigation__link--portfolio:hover,
a.navigation__link--portfolio:focus,
span.navigation__link--portfolio {
  color: #9715c5;
}
a.navigation__link--portfolio::before {
  background-color: #9715c5;
}

a.navigation__link--mishka:hover,
a.navigation__link--mishka:focus,
span.navigation__link--mishka {
  color: #54af9d;
}
a.navigation__link--mishka::before {
  background-color: #54af9d;
}
a.navigation__link--device:hover,
a.navigation__link--device:focus,
span.navigation__link--device {
  color: #e4b200;
}
a.navigation__link--device::before {
  background-color: #e4b200;
}
a.navigation__link--barbershop:hover,
a.navigation__link--barbershop:focus,
span.navigation__link--barbershop {
  color: #c56400;
}
a.navigation__link--barbershop::before {
  background-color: #c56400;
}

.navigation__link--active {
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .navigation__close {
    top: 40px;
    right: 50px;
  }
  .navigation__content-wrapper {
    padding-top: 10vh;
  }
  .navigation__list {
    margin-top: 40px;
  }
  .navigation__link {
    font-size: 25px;
  }
  a.navigation__link::before {
    top: 34px;
  }
}
@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) and (max-height: 820px) {
  .navigation__list {
    margin-top: 30px;
  }
  .navigation__link {
    font-size: 18px;
  }
  a.navigation__link::before {
    top: 26px;
  }
}
@media (min-width: $desktop-width) {
  .navigation__content-wrapper {
    padding-top: 20vh;
  }
  .navigation__list {
    display: flex;
    flex-wrap: wrap;
  }
  .navigation__item {
    width: 50%;
  }
}
@media (min-width: $desktop-width) and (max-height: 700px) {
  .navigation__content-wrapper {
    padding-top: 15vh;
  }
}
